.main img{
    width: 485px;
    height: 400px;
    box-shadow: 20px 20px 20px orangered;
    
}
body{
    display: flex;
    gap: 30px;
    
}
h1{
    font-size: 25px;
    text-shadow: 5px 5px 5px orangered;
}
